In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')


from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [2]:
from sklearn.datasets import load_wine
# 와인 데이터 로드
wine = load_wine()
# feature 갖고온다.
wine_data = wine.data
# target 갖고온다.
wine_target = wine.target

In [3]:
# wine 데이터의 feature로 Dataframe을 만든다.
df_wine = pd.DataFrame(data = wine_data, columns=[wine.feature_names])
# feature 만 있는 데이터 프레임에 타겟 데이터를 추가한다.
df_wine_t = df_wine.copy()
df_wine['target'] = wine.target

In [4]:
df_wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [15]:
df_wine.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000

In [16]:
df_wine.isnull().sum()

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
target                          0
dtype: int64

In [17]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   (alcohol,)                       178 non-null    float64
 1   (malic_acid,)                    178 non-null    float64
 2   (ash,)                           178 non-null    float64
 3   (alcalinity_of_ash,)             178 non-null    float64
 4   (magnesium,)                     178 non-null    float64
 5   (total_phenols,)                 178 non-null    float64
 6   (flavanoids,)                    178 non-null    float64
 7   (nonflavanoid_phenols,)          178 non-null    float64
 8   (proanthocyanins,)               178 non-null    float64
 9   (color_intensity,)               178 non-null    float64
 10  (hue,)                           178 non-null    float64
 11  (od280/od315_of_diluted_wines,)  178 non-null    float64
 12  (proline,)                       178 non-null    float64
 13  (target,)                        178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [18]:
# 데이터를 나눈다.
X_train, X_test, y_train, y_test = train_test_split(df_wine_t, wine_target, test_size=0.2, random_state=42)

In [19]:
# 수치형 특징의 리스트를 저장한다.
num_x_training = X_train.select_dtypes(include='number').columns.to_list()

In [20]:
# 범주형 특징의 리스트를 저장한다.
cat_x_training = X_train.select_dtypes(include='object').columns.to_list()

In [21]:
from sklearn.base import BaseEstimator, TransformerMixin

class FeatureSelector(BaseEstimator, TransformerMixin):
    def __init__(self, feature_names):
        self.feature_names = feature_names   
    def fit( self, X, y = None ):
        return self
    def transform(self, X, y=None):
        return X.loc[:, self.feature_names].copy(deep=True)


#Custom Transformer that fills missing ages
class CustomImputer(BaseEstimator, TransformerMixin):
    def __init__(self):
        super().__init__()
        self.age_means_ = {}

    def fit(self, X, y=None):
        self.age_means_ = X.groupby(['Pclass', 'Sex']).Age.mean()

        return self

    def transform(self, X, y=None):
        # fill Age
        for key, value in self.age_means_.items():
            X.loc[((np.isnan(X["Age"])) & (X.Pclass == key[0]) & (X.Sex == key[1])), 'Age'] = value

        return X

In [23]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

num_pipeline = Pipeline(steps = [ 
    ("num_selector", FeatureSelector(num_x_training)),
    ("imputer", SimpleImputer(strategy="median")),
    ("std_scaler", StandardScaler()) 
])

le = LabelEncoder()
df_wine[cat_x_training].apply(le.fit_transform)

In [24]:
#Defining the steps in the categorical pipeline 
cat_pipeline = Pipeline( [ 
    ('cat_selector', FeatureSelector(cat_x_training) ),
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('one_hot_encoder', OneHotEncoder(sparse = False, handle_unknown ='ignore')) 
])

In [25]:
# ColumnTranformer 로 열 변환자 객체 정의
preprocessor = ColumnTransformer(transformers=[
                                               ('numeric', num_pipeline, num_x_training),
                                               ('categoryical', cat_pipeline, cat_x_training)
], remainder='drop')

In [26]:
dtc = DecisionTreeClassifier()

full_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', dtc)
])

In [27]:
full_pipeline.fit(X_train, y_train)
y_pred = full_pipeline.predict(X_test)

In [28]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(full_pipeline,X_train,y_train,cv=3,scoring='f1_micro')
scores

array([0.91666667, 0.89361702, 0.93617021])

In [29]:
scores.mean()

0.91548463356974

In [30]:
accuracy_score(y_test, y_pred)

0.9444444444444444

In [31]:
from sklearn.metrics import f1_score

f1_score(y_test, y_pred, average='micro')

0.9444444444444444

In [32]:
from sklearn.metrics import mean_absolute_error

score = mean_absolute_error(y_test, y_pred)
print('MAE:', score)

MAE: 0.05555555555555555

In [33]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print('MSE:', mse)

MSE: 0.05555555555555555

In [34]:
rmse = np.sqrt(mse)
print('RMSE:', rmse)

RMSE: 0.23570226039551584